.git

.gitignore

.env


__pycache__/
**/__pycache__/

*.pyc
*.pyo
*.pyd


*.log


.vscode
.idea


venv/
.venv/


dist/
build/


.pytest_cache/
.mypy_cache/


Dockerfile*
docker-compose*


*.db